body{
    background-image: url("bolso.gif");
    
}


.color{
    background-color : white;
    color: red;
}
button{
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 50px;
    transform: translateX(-50%);
}
table{
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
  border: 2px solid #021aeb;
  background-image: url("Atilia_garcia.gif");
}